:root {
    background: #FEFFE4;
}

img {
    Height: 50px;
    width: 50px;
    display: flex;
}

#btnAtualizar {
    width: 167px;
    height: 46px;
    border-radius: 4px;
    background: #48A4FA;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#btnAtualizar:hover {
    border-radius: 4px;
    background: #007BED;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 167px;
    height: 46px;
}

#btnAtualizar:active {
    width: 167px;
    height: 46px;
    border-radius: 4px;
    background: #007BED;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

#reset {
    width: 118px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #F59999;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #444;
    text-align: center;
    font-family: Ubuntu;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

#reset:hover {
    width: 118px;
    height: 46px;
    border-radius: 4px;
    background: #FF5F5F;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#reset:active {
    border-radius: 4px;
    background: #FF5F5F;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    width: 118px;
    height: 46px;
}

header h1 {
    text-align: center;
    color: #000;
    text-align: center;
    font-family: Ubuntu;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#alteração-produtos-form {
    display: flex;
    align-items: center;
    width: 415px;
    height: 35px;
    flex-direction: column;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

form {
    margin: auto;
    width: 420px;
    height: 439px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 0 57px 0 59px;
}

label {
    color: #000;
    text-align: center;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input {
    width: 304px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #000;
    background: #FEFFE4;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
}

#divliistaProdutos {
    width: 1332px;
    height: 43px;
    flex-shrink: 0;
    border-bottom: 1px solid #000;
    background: #FFF;
}

.caixas-form {
    display: flex;
    flex-direction: column;

}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #000;
    text-align: center;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}